@model Tiss_HealthQuestionnaire.ViewModels.AssignTeamMembersViewModel
@{
    ViewBag.Title = "指派隊伍成員";
    Layout = "~/Views/Shared/_HealthLayout.cshtml";
}
<link rel="icon" href="~/img/favicon.svg" />
<h1 class="text-2xl font-bold mb-4">指派隊伍成員：@Model.TeamName</h1>
@using (Html.BeginForm("AssignMembers", "AdminTeam", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TeamID)

    <div class="form-group">
        <label for="SelectedAthleteIDs">選擇選手</label>
        @Html.ListBoxFor(m => m.SelectedAthleteIDs,
                 new MultiSelectList(Model.AllAthletes, "AthleteID", "Name", Model.SelectedAthleteIDs),
                 new { @class = "form-control", size = 10 })
    </div>

    <div class="form-group">
        <label for="SelectedTrainerIDs">選擇防護員</label>
        @Html.ListBoxFor(m => m.SelectedTrainerIDs,
                 new MultiSelectList(Model.AllTrainers, "TrainerID", "ATName", Model.SelectedTrainerIDs),
                 new { @class = "form-control", size = 10 })
    </div>

    <button type="submit" class="btn btn-primary">儲存指派</button>
    <a href="@Url.Action("TeamList", "AdminTeam")" class="btn btn-secondary ml-2">返回</a>
}